.clear-area {
  display: grid;
  place-items: center;
  grid-template-rows: 25% 15% 20% 3%;
  gap: var(--space-m);
  margin-top: var(--space-l);
  width: 100%;
  height: 80%;
  z-index: 10;
}

.clear-message {
  font-size: 3.2rem;
  font-family:var(--japanese);
  font-weight: 700;
  color: var(--questionColor);
}

.clear-text {
  font-size: 2.4rem;
  font-family: var(--japanese);
  color: var(--questionColor);
  line-height: 1.4;
  text-align: center;
}

.clear-img-area {
  width: 100%;
}

.clear-img-area svg {
  width: 100%;
}

/* ==ダークモード（夜）== */

.dark-theme .clear-area,
.dark-theme .clear-area p {
  background-color: var(--darkModeBaseColor); /* 濃いグレー */
  color: var(--darkModeFontColor);            /* 柔らかい白 */
}

/* ボタンの文字・背景色 */
.dark-theme .retry-btn {
  color: var(--darkModeFontColor);
  background-color: var(--darkModeBtnColor);
}

/* 文字色 */
.dark-theme .return-menu-btn,
.dark-theme .wrong-word-btn {
  color: var(--darkModeFontColor);
}