.answer-area {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: auto 8% auto auto auto auto 3%;
  gap: var(--space-s);
}

.result-message-area {
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  place-items: center;
  width: 90%;
}

.result-message {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  font-family: var(--japanese);
  white-space: pre-wrap;
  padding-left: 8px;
}

.result-message-icon-left,
.result-message-icon-right {
  display: flex;
  justify-content: center;
  width: 100px;
  /* height: 110px; */
}

.result-message-icon-left img,
.result-message-icon-right img {
  width: 70%;
  height: 70%;
}

.correct-answer-area {
  display: grid;
  place-items: center;
  gap: 5px;
  width: 100%;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: var(--itemShadow);
  background-color: var(--sectionBaseColor);
  padding: 10px;
}

.correct-answer-title {
  width: 95%;
  font-size: 1.2rem;
  font-family: var(--japanese);
}

.correct-answer {
  font-family: var(--japanese);
  font-weight: 700;
  font-size: 3.6rem;
  text-align: center;
  width: 100%;
  height: 100%;
  word-break: break-word;
}

.correct-answerArea-question {
  font-family: var(--japanese);
  font-weight: 700;
  font-size: 3rem;
  text-align: center;
  width: 100%;
  height: 100%;
  word-break: break-word;
  color: var(--questionColor);
}

.supplement-message {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  font-family: var(--japanese);
  color: rgba(37, 37, 37, 0.8);
  text-align: center;
  white-space: pre-wrap;
  line-height: 1.6;
}

.user-answer-area {
  display: grid;
  grid-template-rows: 30% 70%;
  width: 100%;
  height: 100%;
  background-color: var(--sectionBaseColor);
  border-radius: var(--radius);
  box-shadow: var(--itemShadow);
}

.user-answer-title {
  font-size: 1.2rem;
  font-family: var(--japanese);
  align-items: center;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.user-answer {
  color: rgba(50, 48, 48, 0.799);
  font-size: 2rem;
  font-family: var(--japanese);
  text-align: center;
  padding: var(--space-m);
  border-radius: 0 0 8px 8px;
}
