.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.category-list-scroll-area {
  z-index: 100;
  background-color: var(--baseColor);
  border-radius: var(--radius);
  box-shadow: var(--itemShadow);
  display: grid;
  grid-template-rows: 10% 10% 10%;
  gap: 20px;
  place-items: center;
  width: 70%;
  height: 60%;
  padding: 35px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: translate(-50%, -50%); /* 中央揃えに戻す */
  transition: opacity 0.5s ease, transform 0.5s ease;
  overflow-y: scroll
}

.category-btns {
  display: grid;
  gap: 30px;
}

.close-btn {
  position: absolute;
  top: 82%;
  left: 50%;
  transform: translate(-50%, 0%); /* 中央揃えに戻す */
}

/* ==ダークモード（夜）== */

/* 背景色・文字色 */
.dark-theme .menu-list,
.dark-theme .category-btns {
  background-color: var(--darkModeBaseColor); /* 濃いグレー */
  color: var(--darkModeFontColor);            /* 柔らかい白 */
}

/* 枠線色・影 */
.dark-theme .menu-list {
  border: var(--darkModeBorderStyle);
  box-shadow: var(--darkModeItemShadow);
}

/* subtleBtn文字色 */
.dark-theme .close-btn {
  color: var(--darkModeFontColor);
}