.question-area {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 15% 35% 20% 8% 5%;
  gap: var(--space-m);
}

.counter-and-img-area {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.questionArea-img-left,
.questionArea-img-right {
  justify-self: center;
  width: 100px;
  height: 100px;
}

.questionArea-img-left svg,
.questionArea-img-right svg {
  justify-self: end;
  width: 100%;
  height: 120%;
}

.set-quesArea {
  width: 100%;
  height: 100%;
}

.set-question {
  display: grid;
  place-items: center;
  text-align: center;
  font-family: 'メイリオ', 'ヒラギノ角ゴシック', Arial;
  font-weight: 700;
  color: var(--questionColor);
  font-size: 4rem;
  white-space: pre-wrap;
  background-color: var(--sectionBaseColor);
  width: 100%;
  height: 95%;
  box-shadow: var(--itemShadow);
  border-radius: var(--radius);
  word-break: break-word;
  padding: 10px;
}

#answer-form {
  height: 100%;
  display: grid;
  place-items: center;
  grid-template-rows: 100%;
  gap: var(--space-l);
}

.input-answer {
  font-size: 3.6rem;
  font-family: var(--japanese);
  margin: 0 auto;
  text-align: center;
  color: rgb(22, 20, 20);
  width: 100%;
  height: 100%;
  background-color: var(--sectionBaseColor);
  box-shadow: var(--itemShadow);
  border-radius: var(--radius);
}

.text-black {
  color: black;
}

.hidden {
  visibility: hidden;
}

/* ==ダークモード（夜）== */

/* 背景色・文字色 */
.dark-theme input,
.dark-theme .set-question {
  background-color: var(--darkModeBaseColor); /* 濃いグレー */
  color: var(--darkModeFontColor);            /* 柔らかい白 */
}

/* 枠線色・影 */
.dark-theme input,
.dark-theme .set-question {
  border: var(--darkModeBorderStyle);
  box-shadow: var(--darkModeItemShadow);
}

/* ボタンの文字・背景色 */
.dark-theme .judgement-answer-btn {
  color: var(--darkModeFontColor);
  background-color: var(--darkModeBtnColor);
}