* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
}

:root {
  /* color変数 */
  --baseColor: rgb(255, 253, 249);
  --sectionBaseColor: rgb(253, 249, 249);
  --mainColor: #4a3b34d0;
  --btnColor: #EFE7DC;
  --accentColorRed: #d77979b0;
  --accentColorGreen: #5ea761b0;
  --questionColor: rgba(2, 31, 74, 0.931);
  --btnTextColor: #4a3b34d0;
  --itemShadow: 0.5px 0.5px 0.8px 1.2px #494953d3;
  --textShadow: 1px 1px 1px #494953d3;

  --headerHeight: 50px;

  /* 余白変数 */
  --space-s: 8px;
  --space-m: 16px;
  --space-l: 24px;

  /* 角丸 */
  --radius: 8px;

  /* font-family */
  --english: 'メイリオ', 'ヒラギノ角ゴシック', Arial;
  --japanese: "Noto Sans JP";

  /* ===ダークモード時=== */
  --darkModeBaseColor: #1a1a1a;
  --darkModeFontColor: #f9eed9;

  /* ボーダー */
  --darkModeBorderStyle: 1px solid #909090;
  --darkModeItemShadow: 0.5px 0.5px 0.8px 1.2px #fafafbd3;

  /* ボタン */
  --darkModeBtnColor: #be7c4c97;
  --darkModeItemShadow: 0.5px 0.5px 0.8px 1.2px #dfdfe1d3;
}

/*===================
common
====================*/
html {
  font-size: 62.5%;
  color: rgb(46, 44, 44);
}

body {
  /* overflow: hidden; */
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.counter-area {
  justify-self: center;
  margin-top: 32px;
  font-size: 1.6rem;
  font-family: var(--english);
}

.close-btn,
.return-menu-btn {
  font-size: 1.6rem;
  font-family: var(--japanese);
  font-weight: 500;
  padding: 10px 0;
  color: var(--btnTextColor);
  z-index: 100;
}

h1 {
  width: 130px;
  height: 50px;
  color: var(--mainColor);
  text-shadow: var(--textShadow);
  font-family:'Times New Roman', Times, serif;
  font-weight: 700;
  font-size: 3rem;
  padding: 10px;
  text-align: center;
  /* height: 7%; */
}

main {
  width: 100%;
  height: 100vh;
  /* display: flex; */
  /* overflow-y: auto; */
  /* flex-direction: column; */
  position: relative;
  padding: 60px var(--space-l);
  box-sizing: border-box;
}